<main class="box-main">
  <section class="box-home" id="home">
    <div class="animate-all">
      <h1>Prana</h1>
      <h2>Monitore seu ar</h2>
      <div>
        <div class="circle-external">
          <div class="circle-internal"></div>
        </div>
        <span class="text-circle">
          Saiba Mais
          <a href="#about">^</a>
        </span>
      </div>
    </div>
  </section>
  <section class="box-about" id="about">
    <h1>Sobre o projeto</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      condimentum ex dolor, id finibus nisl tempor a. Vivamus a elit et risus
      convallis venenatis imperdiet eu nunc. Aenean euismod dignissim enim et
      convallis. Ut elementum vel lorem vel aliquam. Maecenas id turpis leo.
      Mauris eu augue varius nulla sodales commodo a fermentum lorem. Praesent
      lobortis efficitur porttitor. Duis fringilla mauris non eros accumsan
      molestie. Aliquam porta turpis non elit congue consectetur
    </p>
  </section>
</main>
